[submodule "tools/ts-flatten"]
	path = tools/ts-flatten
	url = git@github.com:ashrhmn/ts-flatten.git
[submodule "tools/tsndexer"]
	path = tools/tsndexer
	url = git@github.com:ashrhmn/tsndexer.git
[submodule "tools/lctx"]
	path = tools/lctx
	url = git@github.com:ashrhmn/lctx.git
[submodule "tools/tgp-report"]
	path = tools/tgp-report
	url = https://github.com/ashrhmn/tgp-report
