@font-face {
  font-family: "AshJetBrainsMonoNerd";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@v3.4.0/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AshJetBrainsMonoNerd";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@v3.4.0/patched-fonts/JetBrainsMono/Ligatures/Bold/JetBrainsMonoNerdFontMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AshJetBrainsMonoNerd";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@v3.4.0/patched-fonts/JetBrainsMono/Ligatures/Italic/JetBrainsMonoNerdFontMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "AshJetBrainsMonoNerd";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@v3.4.0/patched-fonts/JetBrainsMono/Ligatures/BoldItalic/JetBrainsMonoNerdFontMono-BoldItalic.ttf") format("truetype");
}
